<div class="container mt-3">
<div class="card text-center my-3">
  <div class="card-header">
  </div>
  <div class="card-body d-flex justify-content-around align-items-center">
            <div class="user-photo">
              <!--  <%= @user.photo %> --> 
               <img src=<%="#{@user.photo}"%> class ="user-pic" />

            </div>
            <div class="user_name-div">
                <h1 class="user_name"> <%= @user.name %></h1>
           </div>
  </div>
  <div class="card-footer text-muted d-flex justify-content-end">
    <b>Number of posts:- </b> &nbsp; <%= @user.postscounter %>
  </div>
</div>

<!-- bio -->
  <div class="card text-center my-3">
 
  <div class="card-body d-flex justify-content-around align-items-center flex-column">
            <div class="user-photo bio py-2"><b><%= @user.bio %></b></div>
            <div class="user_name-div ms-4">
               Integer vitae metus nec quam dapibus gravida. Etiam congue placerat mi ut tincidunt. 
               Quisque quis lorem ipsum. Cras vestibulum ultricies vulputate. Quisque vestibulum
                nisi in consectetur efficitur. Phasellus eleifend volutpat interdum. Sed vulputate sollicitudin hendrerit. Sed feugiat neque nec ante laoreet, ac vulputate risus elementum. Nullam pharetra efficitur neque, vel condimentum neque maximus sed. 
               Mauris egestas mauris quis turpis maximus, quis fermentum diam consectetu
           </div>
  </div>
  <div class="card-footer text-muted d-flex justify-content-end">
  </div>
</div>

<!--end bio -->

<!-- 3 most recent Posts -->

    <% @user.recent_posts.each do |post| %>

  <div class="card text-center my-3">
  <div class="card-header align-self-start">
     <b>Post#:&nbsp;&nbsp;</b> <%= post.id %>&nbsp; 
  </div>
  <div class="card-body d-flex justify-content-around align-items-center">
           
            <div class="user_name-div">
              
             <%= post.text %>
           </div>
                    <%= link_to "#{post.title}", user_post_path(@user, post.id) %>
  </div>
  <div class="card-footer text-muted d-flex justify-content-end">
    <b>Comments:- </b><span class="text-success"> &nbsp; <u>  <%= post.commentscounter || 0 %></u></span>&nbsp;&nbsp;
    <b>Likes:- </b> &nbsp;<span class="no-likes text-danger"><u> <%= post.likescounter || 0 %></u></span>
  </div>
</div>
<% end %>

<!--end Posts -->


     <div class="btn-div">
        <%= link_to 'See all posts', user_posts_path(@user) , class: 'btn btn-success' %>
     </div>
</div>
     

     

