<div class="container d-flex flex-column align-items-center">
<div class="d-flex justify-content-between w-100">
   <div class="d-flex">
     <span>Post #<%= @post.id%> by &nbsp;&nbsp;<h6 class="author"><b><%= @post.author.name%></b></h6></span>
   </div>
    <div class="d-flex">
     <span><b>Comments:-</b><%= @post.commentscounter %></span>&nbsp;&nbsp;
     <span><b>Likes:-</b><%= @post.likescounter %></span>
  </div>
</div>
   <p> Title: <%= @post.title %></p>
   <p>Text, <%= @post.text %></p>
    <div class="d-flex align-items-center justify-content-evenly w-50">
                <%= link_to 'Comment', new_user_post_comment_path(@post.author, @post), class: ' comment-like btn btn-outline-success' %>
                <%= render 'likes/like' %>
                <%= link_to 'Edit Post', edit_user_post_path(@user, @post.id), class: 'btn btn-outline-info' %>
                <%= button_to 'Delete Post', user_post_path(@user, @post), method: :delete, class: 'btn btn-outline-danger' %>

    </div>
    <%= link_to 'Home Page', '/' %>
    <%= link_to 'Back to posts', user_posts_path(@user) %>
    <div class="d-flex flex-column align-self-start mt-4">
       <% @post.comments.each do |comment|%>
          <span><b><%= comment.author.name %>:- </b> &nbsp;<%= comment.text %></span>
       <% end %>
    </div>

  </div>